# global
STAGE=dev
APP_NAME=boilerplate

# postgres
POSTGRES_USER=eoscr
POSTGRES_PASSWORD=password
POSTGRES_DB=localdb
POSTGRES_DATA=./db_data

# hasura
HASURA_GRAPHQL_ENABLE_CONSOLE=true
HASURA_GRAPHQL_DATABASE_URL=postgres://eoscr:password@postgres:5432/localdb
HASURA_GRAPHQL_ADMIN_SECRET=myadminsecretkey
HASURA_GRAPHQL_UNAUTHORIZED_ROLE=guest
HASURA_GRAPHQL_ACTION_BASE_URL=http://hapi:9090

# hapi
HAPI_SERVER_PORT=9090
HAPI_SERVER_ADDRESS=hapi
HAPI_EOS_API_ENDPOINT=http://jungle.eosio.cr
HAPI_EOS_API_CHAIN_ID=2a02a0053e5a8cf73a56ba0fda11e4d92e0238a4a2aa74fccf46d5a910746840
HAPI_EOS_BASE_ACCOUNT=
HAPI_EOS_BASE_ACCOUNT_PASSWORD=
HAPI_EOS_WALLET_URL=http://wallet:8888
HAPI_HASURA_URL=http://hasura:8080/v1/graphql
HAPI_HASURA_ADMIN_SECRET=myadminsecretkey

#webapp
PORT=3000
REACT_APP_VERSION=$npm_package_version
REACT_APP_NAME=$npm_package_name
REACT_APP_TITLE=Boilerplate App
REACT_APP_LOGO=https://raw.githubusercontent.com/eoscostarica/design-assets/master/logos/eosCR/fullColor-vertiall-transparent-white.png
REACT_APP_FOOTER_LINKS=[]
REACT_APP_UAL_APP_NAME=BoilerplateApp
REACT_APP_UAL_API_PROTOCOL=https
REACT_APP_UAL_API_HOST=jungle.eosio.cr
REACT_APP_UAL_API_PORT=443
REACT_APP_UAL_CHAIN_ID=2a02a0053e5a8cf73a56ba0fda11e4d92e0238a4a2aa74fccf46d5a910746840
REACT_APP_HASURA_URL=http://localhost:8080/v1/graphql
