version: '3.6'
services:
  wallet:
    container_name: wallet
    build: ./wallet
    ports:
      - '9999:8888'
    volumes:
      - ./tmp/wallet/:/opt/application/data/
  postgres:
    container_name: postgres
    image: postgres:11.5-alpine
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: '${POSTGRES_USER}'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
      POSTGRES_DB: '${POSTGRES_DB}'
  hapi:
    container_name: hapi
    image: node:14.2.0
    ports:
      - '9090:9090'
    volumes:
      - type: bind
        source: ./hapi
        target: /app
    working_dir: /app
    command: bash -c "yarn && yarn watch"
    environment:
      HAPI_SERVER_PORT: '${HAPI_SERVER_PORT}'
      HAPI_SERVER_ADDRESS: '${HAPI_SERVER_ADDRESS}'
      HAPI_NETWORK_API: '${HAPI_NETWORK_API}'
      HAPI_NETWORK_CHAIN_ID: '${HAPI_NETWORK_CHAIN_ID}'
      HAPI_NETWORK_CREATOR_ACCOUNT: '${HAPI_NETWORK_CREATOR_ACCOUNT}'
      HAPI_NETWORK_CREATOR_PASSWORD: '${HAPI_NETWORK_CREATOR_PASSWORD}'
      HAPI_NETWORK_WALLET: '${HAPI_NETWORK_WALLET}'
      HAPI_HASURA_URL: '${HAPI_HASURA_URL}'
      HAPI_HASURA_ADMIN_SECRET: '${HAPI_HASURA_ADMIN_SECRET}'
      HAPI_AFFILIATE_ACCOUNT: '${HAPI_AFFILIATE_ACCOUNT}'
      HAPI_AFFILIATE_PASSWORD: '${HAPI_AFFILIATE_PASSWORD}'
      HAPI_AFFILIATE_VERIFY_EXPIRED_INTERVAL: '${HAPI_AFFILIATE_VERIFY_EXPIRED_INTERVAL}'
      HAPI_AFFILIATE_CLEAR_REFERRALS_INTERVAL: '${HAPI_AFFILIATE_CLEAR_REFERRALS_INTERVAL}'
      HAPI_AFFILIATE_SET_RATE_INTERVAL: '${HAPI_AFFILIATE_SET_RATE_INTERVAL}'
      HAPI_DEMUX_START_AT_BLOCK: '${HAPI_DEMUX_START_AT_BLOCK}'

  hasura:
    container_name: hasura
    image: hasura/graphql-engine:v2.0.0-beta.1.cli-migrations-v2
    ports:
      - '8080:8080'
    volumes:
      - ./hasura/migrations:/hasura-migrations
      - ./hasura/metadata:/hasura-metadata
    environment:
      HASURA_GRAPHQL_DATABASE_URL: '${HASURA_GRAPHQL_DATABASE_URL}'
      HASURA_GRAPHQL_ENABLE_CONSOLE: '${HASURA_GRAPHQL_ENABLE_CONSOLE}'
      HASURA_GRAPHQL_ADMIN_SECRET: '${HASURA_GRAPHQL_ADMIN_SECRET}'
      HASURA_GRAPHQL_UNAUTHORIZED_ROLE: '${HASURA_GRAPHQL_UNAUTHORIZED_ROLE}'
      HASURA_GRAPHQL_ACTION_BASE_URL: '${HASURA_GRAPHQL_ACTION_BASE_URL}'
  webapp:
    container_name: webapp
    image: node:14.2.0
    stdin_open: true
    ports:
      - '3000:3000'
    volumes:
      - type: bind
        source: ./webapp
        target: /app
    working_dir: /app
    command: bash -c "yarn && yarn start"
    environment:
      REACT_APP_VERSION: '${REACT_APP_VERSION}'
      REACT_APP_NAME: '${REACT_APP_NAME}'
      REACT_APP_TITLE: '${REACT_APP_TITLE}'
      REACT_APP_LOGO: '${REACT_APP_LOGO}'
      REACT_APP_FOOTER_LINKS: '${REACT_APP_FOOTER_LINKS}'
      REACT_APP_UAL_APP_NAME: '${REACT_APP_UAL_APP_NAME}'
      REACT_APP_UAL_API_PROTOCOL: '${REACT_APP_UAL_API_PROTOCOL}'
      REACT_APP_UAL_API_HOST: '${REACT_APP_UAL_API_HOST}'
      REACT_APP_UAL_API_PORT: '${REACT_APP_UAL_API_PORT}'
      REACT_APP_UAL_CHAIN_ID: '${REACT_APP_UAL_CHAIN_ID}'
      REACT_APP_HASURA_URL: '${REACT_APP_HASURA_URL}'
volumes:
  postgres_data:
