{
  "extends": ["standard", "prettier", "plugin:prettier/recommended"],
  "rules": {
    "promise/always-return": "off",
    "complexity": [
      "error",
      {
        "max": 21
      }
    ]
  },
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  }
}
